<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<title>MP2</title>
</head>
<body style="background-color:rgb(246, 237, 237); font-family: 'Courier New', Courier, monospace;">
  
<!-- nav start -->
<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <a href="../index.html">
    <img src="/images/about/logo-1.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top rounded-circle" id="logo-2">
    </a>
    <a class="navbar-brand ps-2 d-none d-sm-block text-light" href="#" style="font-size: x-large;"> EADG Bass Luthier</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-link active text-light" aria-current="page" href="/index.html" style="font-size: large;">Home</a>
        <a class="nav-link active text-light" aria-current="page" href="/views/services.html" style="font-size: large;">Services</a>
        <a class="nav-link active text-light" aria-current="page" href="/views/contact.html" style="font-size: large;">Contact</a>
      </div>
    </div>
  </div>
</nav>
<!-- nav end -->

<!-- image header start -->
<div class="container-item">
  <div class="img-fluid position-relative">
    <img src="/images/about/img service 2.jpg" class="d-flex w-100 h-25" alt="bass guitar" style="opacity: .8;">
    <div class="overlay position-absolute top-50 start-50 translate-middle">
      <h1 class="text-center text-white fw-bold">Services Offered</h1>
    </div>
  </div>
</div>
<!-- image header end -->

  <!-- service start -->
  <h2 class="list-group mt-5 mb-4 text-center" style="font-weight: bold;">Services</h2>
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Electronics Repair</h5>
            <img src="/images/servicesoffered/service electronics repair.jpg" alt="Electronics Repair" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Expert technicians diagnose and fine-tune your bass's electronic intricacies. From hums to overhauls, we ensure perfect harmony, delivering crisp, clear notes that bring your instrument to life.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Fret Crowning</h5>
            <img src="/images/servicesoffered/service fret crowning.jpg" alt="Fret Crowning" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Precision meets playability. Elevate your playing with expertly crowned frets, ensuring smooth bends and effortless notes, delivering a superior musical experience for every bass enthusiast.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Fret leveling</h5>
            <img src="/images/servicesoffered/service fret leveling.jpg" alt="Fret leveling" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Transform your bass with our precision fret leveling service. Our skilled technicians meticulously refine each fret, ensuring flawless playability and smooth bends for every bass enthusiast.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Fretboard clean-up</h5>
            <img src="/images/servicesoffered/service fretboard clean-up.jpg" alt="Fretboard clean-up" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Elevate your bass playing with our meticulous fretboard clean-up service. Our Team restores clarity, smoothness, and a renewed aesthetic, ensuring each note resonates beautifully.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Nut Replacement</h5>
            <img src="/images/servicesoffered/service nut replacement.jpg" alt="Nut Replacement" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Upgrade your bass's performance with our precise nut replacements. Expertly crafted for optimal string action, our replacements enhance playability, ensuring a resonant and refined musical experience.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Pick-up Replacement</h5>
            <img src="/images/servicesoffered/service pick-up replacement.jpg" alt="Pick-up Replacement" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Discover a new sonic realm with our expert pick-up replacements. Tailored to your bass's character, they ensure enhanced clarity and a powerful, signature sound that resonates uniquely.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Re-Fret</h5>
            <img src="/images/servicesoffered/service re-fret.jpg" alt="Re-Fret" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Rediscover your bass's potential with our comprehensive re-fret service. Meticulously executed, our expert re-fretting breathes new life into your instrument, ensuring smooth playability and enriched tonal depth.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Saddle Height Adjustment</h5>
            <img src="/images/servicesoffered/service saddle height adjustment.jpg" alt="Saddle Height Adjustment" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Precision meets performance in our saddle height adjustment service. Tailored to your preferences, our expert adjustments ensure optimal string action, enhancing playability and unleashing the full potential of your bass.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">String Height Adjustment</h5>
            <img src="/images/servicesoffered/service string heigt adjustment.jpg" alt="String Height Adjustment" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Fine-tune your bass with our string height adjustment service. Our expert adjustments ensure the perfect balance, offering optimal playability, responsiveness, and an enhanced musical experience for every bass enthusiast.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Truss Rod Adjustment</h5>
            <img src="/images/servicesoffered/service truss rod adjustment.jpg" alt="Truss Rod Adjustment" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Achieve precision in your bass playing with our truss rod adjustment service. Our experts fine-tune the neck curvature, enhancing playability and tone, ensuring your bass reaches its full sonic potential.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Truss Rod Replacement</h5>
            <img src="/images/servicesoffered/service truss rod replacement.jpg" alt="Truss Rod Replacement" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Experience structural rejuvenation for your bass guitar through our truss rod replacement service. Enjoy improved stability and extended longevity as our skilled technicians enhance the integrity of your instrument's neck.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card p-3" style="height: 100%;">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-weight: bold;">Tuner clean-up</h5>
            <img src="/images/servicesoffered/service tuner clean-up.jpg" alt="Tuner clean-up" class="img-fluid">
            <p class="card-text mt-4 text-center text-md-start">Preserve the pitch-perfect performance of your bass guitar. Meticulously executed by our experts, this process ensures enduring accuracy and longevity for your instrument's tuning capabilities.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- service end -->

<!-- footer start -->
<div class="container-footer bg-dark">
  <footer class="py-5">
    <ul class="nav justify-content-center mt-3">
      <li class="nav-item"><a href="/index.html" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a href="/views/services.html" class="nav-link px-2 text-light">Services</a></li>
      <li class="nav-item"><a href="/views/contact.html" class="nav-link px-2 text-light">Contact</a></li>
      <li class="nav-item"><a href="../index.html#about" class="nav-link px-2 text-light">About</a></li>
    </ul>
    <p class="text-center text-light">© EADG Bass Luthier 2023</p>
  </footer>
</div>
<!-- footer end -->

<button id="scrollUpBtn" onclick="scrollToTop()">
  <i class="fas fa-arrow-up"></i>
</button>

<script src="/js/m.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>